body {
    height: 100vh;
    margin: 0;
}

.container {
    align-items: center;
    background-color: lightcyan;
    display: flex;
    height: 100%;
    justify-content: center;
}

.canvas {
    position: relative;
}

.snowing {
    position: absolute;
    filter: blur(.8px);
    z-index: 3;
    width: 100%;
    height: 100%;
}

.snowing .small {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    animation-name: snow-fall, snow-shake;
    animation-duration: 12s, 4s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    top: -100%;
}

.snowing .small:nth-child(1) {
     left: 210px;
     top: -40px;
     animation-delay: 9s, .3s;
 }
.snowing .small:nth-child(2) {
     left: 400px;
     top: -50px;
     animation-delay: 6s, .3s;
 }
.snowing .small:nth-child(3) {
     left: 720px;
     top: -130px;
     animation-delay: 8s, .3s;
 }
.snowing .small:nth-child(4) {
     left: 140px;
     animation-delay: 10s, .3s;
 }
.snowing .small:nth-child(5) {
     left: 500px;
     animation-delay: 7s, .2s;
 }
.snowing .small:nth-child(6) {
     left: 150px;
     top: -30px;
     animation-delay: 5.2s, .3s;
 }
.snowing .small:nth-child(7) {
     left: 200px;
     top: -20px;
     animation-delay: 3.4s, .3s;
 }
.snowing .small:nth-child(8) {
     left: 70px;
     top: -330px;
     animation-delay: 6.6s, .3s;
 }
.snowing .small:nth-child(9) {
     left: 380px;
     top: -90px;
     animation-delay: 5.6s, .3s;
 }
.snowing .small:nth-child(10) {
     left: 130px;
     animation-delay: 11s, .2s;
 }
.snowing .small:nth-child(11) {
     left: 20px;
     animation-delay: 10.5s, .3s;
 }
.snowing .small:nth-child(12) {
     left: 620px;
     top: -40px;
     animation-delay: 8s, .3s;
 }
.snowing .small:nth-child(13) {
     left: 400px;
     top: -180px;
     animation-delay: 3.7s, 3s;
 }
.snowing .small:nth-child(14) {
     left: 500px;
     top: -370px;
     animation-delay: 6s, .3s;
 }
.snowing .small:nth-child(15) {
     left: 660px;
     top: -20px;
     animation-delay: 9s, .3s;
 }
.snowing .small:nth-child(16) {
     left: 610px;
     top: -80px;
     animation-delay: 7.3s, .3s;
 }
.snowing .small:nth-child(17) {
     left: 20px;
     top: -210px;
     animation-delay: 6.8s, 2s;
 }
.snowing .small:nth-child(18) {
     left: 670px;
     top: -200px;
     animation-delay: 6.5s, .6s;
 }
.snowing .small:nth-child(19) {
     left: 210px;
     top: -120px;
     animation-delay: 4s, .3s;
 }
.snowing .small:nth-child(20) {
     left: 20px;
     top: -110px;
     animation-delay: -1.1s, -.1s;
 }


.snowing .medium {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    animation-name: snow-fall, snow-shake;
    animation-duration: 12s, 4s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    top: -100%;
}
.snowing .medium:nth-child(1) {
     left: 300px;
     top: -420px;
     animation-delay: 3.4s, 1s;
 }
.snowing .medium:nth-child(2) {
     left: 530px;
     animation-delay: .2s, .1s;
 }
.snowing .medium:nth-child(3) {
     left: 340px;
     top: -110px;
     animation-delay: 6s, 2s;
 }
.snowing .medium:nth-child(4) {
     left: 250px;
     top: -390px;
     animation-delay: 3.4s, 3s;
 }
.snowing .medium:nth-child(5) {
     left: 400px;
     top: -150px;
     animation-delay: 8.4s, .3s;
 }
.snowing .medium:nth-child(6) {
     left: 720px;
     top: -240px;
     animation-delay: 7.7s, 1s;
 }
.snowing .medium:nth-child(7) {
     left: 350px;
     top: -180px;
     animation-delay: 6s, 0.5s;
 }
.snowing .medium:nth-child(8) {
     left: 560px;
     animation-delay: 1s, 0.5s;
 }
.snowing .medium:nth-child(9) {
     left: 10px;
     top: -310px;
     animation-delay: 8.2s, 0.5s;
 }
.snowing .medium:nth-child(10) {
     left: 40px;
     top: -220px;
     animation-delay: 3s, 1s;
 }
.snowing .medium:nth-child(11) {
     left: 220px;
     top: -530px;
     animation-delay: .6s, 3s;
 }
.snowing .medium:nth-child(12) {
     left: 630px;
     top: -10px;
     animation-delay: 9.4s, 2s;
 }
.snowing .medium:nth-child(13) {
     left: 420px;
     top: -60px;
     animation-delay: 8s, 3s;
 }
.snowing .medium:nth-child(14) {
     left: 580px;
     animation-delay: 2s, .3s;
 }
.snowing .medium:nth-child(15) {
     left: 420px;
     top: -180px;
     animation-delay: 7s, 1s;
 }
.snowing .medium:nth-child(16) {
     left: 360px;
     animation-delay: 8s, .3s;
 }
.snowing .medium:nth-child(17) {
     left: 90px;
     top: -190px;
     animation-delay: 4.5s, 1s;
 }
.snowing .medium:nth-child(18) {
     left: 130px;
     top: -330px;
     animation-delay: 8.2s, 1s;
 }
.snowing .medium:nth-child(19) {
     left: 150px;
     top: -490px;
     animation-delay: 6.5s, .1s;
 }
.snowing .medium:nth-child(20) {
     left: 640px;
     top: -270px;
     animation-delay: 10s, 1.5s;
 }


@keyframes snow-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@keyframes snow-shake {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(60px);
    }
    100% {
        transform: translateX(0px);
    }
}

.wall-snow {
    position: absolute;
    background-color: #f9f8ff;
    width: 100%;
    height: 40px;
    top: 20px;
}

.wall-snow:before {
     content: "";
     position: absolute;
     width: 120px;
     height: 80px;
     border-radius: 50%;
     background-color: #f9f8ff;
     top: 0px;
     left: 40px;
 }

.wall-snow:after {
     content: "";
     position: absolute;
     width: 200px;
     height: 70px;
     border-radius: 50%;
     background-color: #f9f8ff;
     top: 0px;
     left: 140px;
     transform: rotate(-2deg);
 }

